/* movie-detail.css */
.movie-detail {
  background-color: #393E46;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.7);
  max-width: 600px;
  margin: 2em auto;
  color: #DFD0B8;
  position: relative; /* necessário para posicionar os botões */
}

.movie-detail p {
  margin: 0.5em 0;
  color: #DFD0B8; /* cor dos valores */
  font-size: 1em; /* tamanho padrão dos valores */
}

.movie-detail p strong {
  color: #DFD0B8; /* cor dos nomes dos atributos */
  font-size: 1.1em; /* ligeiramente maior que o valor */
  margin-right: 0.3em; /* um pequeno espaço antes do valor */
}

/* Botões no canto superior direito */
.movie-actions {
  position: absolute;
  top: 1em;
  right: 1em;
  display: flex;
  gap: 0.5em;
}

/* Estilo geral para ícones */
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  transition: transform 0.2s;
}

.icon-button:hover {
  transform: scale(1.2);
}

/* Cores específicas */
.icon-button.edit {
  color: #3498db; /* lápis azul */
}

.icon-button.favorite {
  color: #f39c12; /* coração */
}

.icon-button.delete {
  color: #e74c3c; /* caixote do lixo */
}