<label>Filter by Genre:</label>

<select (change)="onGenreChange($event)">
  @for (genre of genres; track genre) {
    <option [value]="genre">
      {{ genre }}
    </option>
  }
</select>

<div class="movie-grid">
    @for (movie of filteredMovies; track movie.id){
        <app-movie-card
            [movie]="movie"
            (statusChange)="onStatusChange($event)"
            (favoriteToggle)="onFavoriteToggle($event)"
            (delete)="onDelete($event)">
        </app-movie-card>
    }
</div>