<div class="movie-card" [routerLink]="['/movies', movie.id]" [ngClass]="movie.status">
    
    <h3>{{movie.title}}</h3>
    <p>Rating: {{movie.rating}}</p>

    <div class="status-row">

        <select [value]="movie.status" 
        (change)="onStatusChange($event)" 
        (click)="$event.stopPropagation()">
            <option value="to-watch">To Watch</option>
            <option value="watching">Watching</option>
            <option value="watched">Watched</option>
            <option value="skipped">Skipped</option>
        </select>

        <div class="card-actions">

            <button (click)="toggleFavorite(); $event.stopPropagation()">
                <span class="material-icons">
                    {{ movie.isFavorite ? 'favorite' : 'favorite_border' }}
                </span>
            </button>

            <button (click)="onDelete(); $event.stopPropagation()">
                <span class="material-icons">delete</span>
            </button>

        </div>

    </div>

</div>